    .$ClassName {
    background: url(""); background-image: url("") !important;
}
        .covid-help {
    background: url("../images/covid-help.jpg"); background-image: url("../images/covid-help.jpg") !important;
}
        .research-innovation {
    background: url("../images/bg_research_new.jpg"); background-image: url("../images/bg_research_new.jpg") !important;
}
        .attend-module {
    background: url("../images/bg_attend.jpg"); background-image: url("../images/bg_attend.jpg") !important;
}
        .attend-cta {
    background: url("../images/home-financial-aid.jpg"); background-image: url("../images/home-financial-aid.jpg") !important;
}
        .student-life-alt {
    background: url("../images/bg_studentlife_alt2.jpg"); background-image: url("../images/bg_studentlife_alt2.jpg") !important;
}
        .student-life-alt {
    background: url("../images/bg_studentlife_alt2.jpg"); background-image: url("../images/bg_studentlife_alt2.jpg") !important;
}
        .ucsd-dayofcaring {
    background: url("../images/u-care-ucsd-1400x439.jpg"); background-image: url("../images/u-care-ucsd-1400x439.jpg") !important;
}
        .covid-help {
    background: url("../images/covid-help.jpg"); background-image: url("../images/covid-help.jpg") !important;
}
        .research-innovation {
    background: url("../images/bg_research_new.jpg"); background-image: url("../images/bg_research_new.jpg") !important;
}
        .attend-module {
    background: url("../images/bg_attend.jpg"); background-image: url("../images/bg_attend.jpg") !important;
}
        .attend-cta {
    background: url("../images/home-financial-aid.jpg"); background-image: url("../images/home-financial-aid.jpg") !important;
}
        .student-life-alt {
    background: url("../images/bg_studentlife_alt2.jpg"); background-image: url("../images/bg_studentlife_alt2.jpg") !important;
}
        .ri-hero-bg {
    background: url("../images/research-initiatives-hero.jpg"); background-image: url("../images/research-initiatives-hero.jpg") !important;
}
        .tab-ri-climate {
    background: url("../images/research-initiatives-climate.jpg"); background-image: url("../images/research-initiatives-climate.jpg") !important;
}
        .tab-ri-robotics {
    background: url("../images/research-initiatives-robotics.jpg"); background-image: url("../images/research-initiatives-robotics.jpg") !important;
}
        .tab-ri-microbiomes {
    background: url("../images/research-initiatives-microbiomes.jpg"); background-image: url("../images/research-initiatives-microbiomes.jpg") !important;
}
        .research-initiatives {
    background: url("../images/Initiatives.jpg"); background-image: url("../images/Initiatives.jpg") !important;
}
        .so-hero-bg {
    background: url("../images/student-opportunities-hero.jpg"); background-image: url("../images/student-opportunities-hero.jpg") !important;
}
        .so-ur-bg {
    background: url("../images/student-opportunities-undergraduate-research.jpg"); background-image: url("../images/student-opportunities-undergraduate-research.jpg") !important;
}
        .research-resources {
    background: url("../images/resources.jpg"); background-image: url("../images/resources.jpg") !important;
}
        .so-research-ini {
    background: url("../images/student-opportunities-curve.jpg"); background-image: url("../images/student-opportunities-curve.jpg") !important;
}
        .ri-hero-bg {
    background: url("../images/research-initiatives-hero.jpg"); background-image: url("../images/research-initiatives-hero.jpg") !important;
}
        .tab-ri-climate {
    background: url("../images/research-initiatives-climate.jpg"); background-image: url("../images/research-initiatives-climate.jpg") !important;
}
        .tab-ri-robotics {
    background: url("../images/research-initiatives-robotics.jpg"); background-image: url("../images/research-initiatives-robotics.jpg") !important;
}
        .tab-ri-microbiomes {
    background: url("../images/research-initiatives-microbiomes.jpg"); background-image: url("../images/research-initiatives-microbiomes.jpg") !important;
}
        .research-initiatives {
    background: url("../images/Initiatives.jpg"); background-image: url("../images/Initiatives.jpg") !important;
}
        .research-inovation-hero {
    background: url("../images/hero_1.jpg"); background-image: url("../images/hero_1.jpg") !important;
}
        .student-opportunities {
    background: url("../images/student.jpg"); background-image: url("../images/student.jpg") !important;
}
        .research-initiatives {
    background: url("../images/Initiatives.jpg"); background-image: url("../images/Initiatives.jpg") !important;
}
        .research-resources {
    background: url("../images/resources.jpg"); background-image: url("../images/resources.jpg") !important;
}
        .research-library {
    background: url("../images/library.jpg"); background-image: url("../images/library.jpg") !important;
}
        .admissions-hero {
    background: url("../images/hero_4.jpg"); background-image: url("../images/hero_4.jpg") !important;
}
        .attend-ucsd {
    background: url("../images/attend.jpg"); background-image: url("../images/attend.jpg") !important;
}
        .fin-aid {
    background: url("../images/invest-in-future.jpg"); background-image: url("../images/invest-in-future.jpg") !important;
}
        .support-index {
    background: url("../images/bg_support_campaign.jpg"); background-image: url("../images/bg_support_campaign.jpg") !important;
}
        .support-alumni {
    background: url("../images/alumni.jpg"); background-image: url("../images/alumni.jpg") !important;
}
        .support-foundation {
    background: url("../images/foundation-of-success.jpg"); background-image: url("../images/foundation-of-success.jpg") !important;
}
        .ss-banner {
    background: url("../images/web_studentsupport_banner.jpg"); background-image: url("../images/web_studentsupport_banner.jpg") !important;
}
        .ss-get-involved {
    background: url("../images/web_studentsupport_getinvolved.jpg"); background-image: url("../images/web_studentsupport_getinvolved.jpg") !important;
}
        .brc {
    background: url("../images/black-resource-center.jpg"); background-image: url("../images/black-resource-center.jpg") !important;
}
        .ccc {
    background: url("../images/cross-cultural-center.jpg"); background-image: url("../images/cross-cultural-center.jpg") !important;
}
        .irc {
    background: url("../images/intertribal-resource-center.jpg"); background-image: url("../images/intertribal-resource-center.jpg") !important;
}
        .lgbt {
    background: url("../images/lgbt.jpg"); background-image: url("../images/lgbt.jpg") !important;
}
        .raza {
    background: url("../images/raza.jpg"); background-image: url("../images/raza.jpg") !important;
}
        .womens-center {
    background: url("../images/womens-center.jpg"); background-image: url("../images/womens-center.jpg") !important;
}
        .jumbotron-culture {
    background: url("../images/bg_life_culture.jpg"); background-image: url("../images/bg_life_culture.jpg") !important;
}
        .ss-living-learning {
    background: url("../images/web_studentsupport_livinglearning.jpg"); background-image: url("../images/web_studentsupport_livinglearning.jpg") !important;
}
        .ss-international-house {
    background: url("../images/international-cropped.jpg"); background-image: url("../images/international-cropped.jpg") !important;
}
        .ss-wellness {
    background: url("../images/web_studentsupport_wellness.jpg"); background-image: url("../images/web_studentsupport_wellness.jpg") !important;
}
        .attend-cta {
    background: url("../images/attend.jpg"); background-image: url("../images/attend.jpg") !important;
}
        .campus-life-hero {
    background: url("../images/hero_6.jpg"); background-image: url("../images/hero_6.jpg") !important;
}
        .cl-recreation {
    background: url("../images/campus-life-athletics-recreation.jpg"); background-image: url("../images/campus-life-athletics-recreation.jpg") !important;
}
        .artpower {
    background: url("../images/callout-artpower.jpg"); background-image: url("../images/callout-artpower.jpg") !important;
}
        .stuart-ollection {
    background: url("../images/callout-stuart-collection.jpg"); background-image: url("../images/callout-stuart-collection.jpg") !important;
}
        .box-office {
    background: url("../images/callout-box-office.jpg"); background-image: url("../images/callout-box-office.jpg") !important;
}
        .the-loft {
    background: url("../images/callout-loft.jpg"); background-image: url("../images/callout-loft.jpg") !important;
}
        .lj-playhouse {
    background: url("../images/callout-la-jolla-playhouse.jpg"); background-image: url("../images/callout-la-jolla-playhouse.jpg") !important;
}
        .conrad-music {
    background: url("../images/conrad_music.jpg"); background-image: url("../images/conrad_music.jpg") !important;
}
            .hero-organizations {
    background: url("../images/banner.jpg"); background-image: url("../images/banner.jpg") !important;
}
        .organizations-involvement {
    background: url("../images/involvement.jpg"); background-image: url("../images/involvement.jpg") !important;
}
        .organizations-spirit {
    background: url("../images/spirit.jpg"); background-image: url("../images/spirit.jpg") !important;
}
        .organizations-student-media {
    background: url("../images/student-media.jpg"); background-image: url("../images/student-media.jpg") !important;
}
        .diversity-hero {
    background: url("../images/hero_5.jpg"); background-image: url("../images/hero_5.jpg") !important;
}
        .brc {
    background: url("../images/black-resource-center.jpg"); background-image: url("../images/black-resource-center.jpg") !important;
}
        .ccc {
    background: url("../images/cross-cultural-center.jpg"); background-image: url("../images/cross-cultural-center.jpg") !important;
}
        .irc {
    background: url("../images/intertribal-resource-center.jpg"); background-image: url("../images/intertribal-resource-center.jpg") !important;
}
        .lgbt {
    background: url("../images/lgbt.jpg"); background-image: url("../images/lgbt.jpg") !important;
}
        .raza {
    background: url("../images/raza.jpg"); background-image: url("../images/raza.jpg") !important;
}
        .womens-center {
    background: url("../images/womens-center.jpg"); background-image: url("../images/womens-center.jpg") !important;
}
        .cultural-organizations {
    background: url("../images/cultural-organizations.jpg"); background-image: url("../images/cultural-organizations.jpg") !important;
}
        .resource-centers {
    background: url("../images/resource-centers.jpg"); background-image: url("../images/resource-centers.jpg") !important;
}
        .spaces {
    background: url("../images/spaces.jpg"); background-image: url("../images/spaces.jpg") !important;
}
        .diversity-events {
    background: url("../images/upcoming-events.jpg"); background-image: url("../images/upcoming-events.jpg") !important;
}
        .jumbotron-economic-impact {
    background: url("../images/look-deeper-hero-2.png"); background-image: url("../images/look-deeper-hero-2.png") !important;
}
                    .about-hero {
    background: url("../images/hero_7.jpg"); background-image: url("../images/hero_7.jpg") !important;
}
        .about-headline {
    background: url("../images/headline.jpg"); background-image: url("../images/headline.jpg") !important;
}
                    .public-art {
    background: url("../images/web_about_stuart2.jpg"); background-image: url("../images/web_about_stuart2.jpg") !important;
}
                    .visit-hero1 {
    background: url("../images/visit-hero1.jpg"); background-image: url("../images/visit-hero1.jpg") !important;
}
        .visit-explore {
    background: url("../images/visit-callout-2.jpg"); background-image: url("../images/visit-callout-2.jpg") !important;
}
        .visit-parking {
    background: url("../images/visit-parking.jpg"); background-image: url("../images/visit-parking.jpg") !important;
}
                                                                                                .online-extension-hero {
    background: url("../images/hero.jpg"); background-image: url("../images/hero.jpg") !important;
}
        .public-programs {
    background: url("../images/public-programs.jpg"); background-image: url("../images/public-programs.jpg") !important;
}
        .callout-content-3-enroll {
    background: url("../images/enroll.jpg"); background-image: url("../images/enroll.jpg") !important;
}
        .text-cta-image-online-learning {
    background: url("../images/online-learning.jpg"); background-image: url("../images/online-learning.jpg") !important;
}
        .student-success-hero {
    background: url("../images/student-success-hero.jpg"); background-image: url("../images/student-success-hero.jpg") !important;
}
        .attend-cta {
    background: url("../images/advising.jpg"); background-image: url("../images/advising.jpg") !important;
}
        .teaching-learning {
    background: url("../images/teaching-learning.jpg"); background-image: url("../images/teaching-learning.jpg") !important;
}
        .health-wellbeing {
    background: url("../images/health-wellbeing.jpg"); background-image: url("../images/health-wellbeing.jpg") !important;
}
                .teaching-learning {
    background: url("../images/teaching-learning.jpg"); background-image: url("../images/teaching-learning.jpg") !important;
}
                .health-wellbeing {
    background: url("../images/health-wellbeing.jpg"); background-image: url("../images/health-wellbeing.jpg") !important;
}
            .as-hero {
    background: url("../images/as-banner2.jpg"); background-image: url("../images/as-banner2.jpg") !important;
}
        .as-support {
    background: url("../images/assupport1.jpg"); background-image: url("../images/assupport1.jpg") !important;
}
        .as-advising-2 {
    background: url("../images/as-advising-2.jpg"); background-image: url("../images/as-advising-2.jpg") !important;
}
        .as-summer {
    background: url("../images/as-summer1.jpg"); background-image: url("../images/as-summer1.jpg") !important;
}
        .as-research {
    background: url("../images/as-research1.jpg"); background-image: url("../images/as-research1.jpg") !important;
}
        .as-global-2 {
    background: url("../images/as-global-2.jpg"); background-image: url("../images/as-global-2.jpg") !important;
}
        .as-changemakers {
    background: url("../images/as-changemakers2.jpg"); background-image: url("../images/as-changemakers2.jpg") !important;
}
        .as-engaged {
    background: url("../images/as-learningtools1.jpg"); background-image: url("../images/as-learningtools1.jpg") !important;
}
        .ss-wellness {
    background: url("../images/web_studentsupport_wellness.jpg"); background-image: url("../images/web_studentsupport_wellness.jpg") !important;
}
        .academics-test {
    background: url("../images/hero_3.jpg"); background-image: url("../images/hero_3.jpg") !important;
}
        .summer-session {
    background: url("../images/summer-session-kayak.jpg"); background-image: url("../images/summer-session-kayak.jpg") !important;
}
        .academics-detail-hero {
    background: url("../images/hero_2.jpg"); background-image: url("../images/hero_2.jpg") !important;
}
        .academics-detail-hero {
    background: url("../images/hero_2.jpg"); background-image: url("../images/hero_2.jpg") !important;
}
        .covid-help {
    background: url("../images/covid-help.jpg"); background-image: url("../images/covid-help.jpg") !important;
}
        .research-innovation {
    background: url("../images/bg_research_new.jpg"); background-image: url("../images/bg_research_new.jpg") !important;
}
        .attend-module {
    background: url("../images/bg_attend.jpg"); background-image: url("../images/bg_attend.jpg") !important;
}
        .attend-cta {
    background: url("../images/home-financial-aid.jpg"); background-image: url("../images/home-financial-aid.jpg") !important;
}
        .student-life-alt {
    background: url("../images/bg_studentlife_alt2.jpg"); background-image: url("../images/bg_studentlife_alt2.jpg") !important;
}
    